# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Project-specific folders
downloads/
documentation/

# IDE Specific Files
.idea
.vscode/
*.sublime-workspace
*.sublime-project

# Logs and databases
*.log
*.sqlite
*.db

# Local development
.env
.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln